# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-specific directories
/_vendor/
/_gopath/
/_test/

# Dependency directories
/vendor/
/Godeps/
/node_modules/
/_output/

# Binary directory
/bin/

# Compiled Go files
*.6
*.8
*.a
*.o

# Local configuration file
*.local

# Log files and directories
logs/
*.log

# Visual Studio Code directory
.vscode/

# Database
*.db

# Environment variables file
.env

# Mac OS X Finder directory metadata
.DS_Store

# Node.js
npm-debug.log
yarn-error.log

# Go
*.iml
.idea/
*.log
*.swp